<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- content for add page -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">

        <h1><%= title %></h1>

            <form method="POST" class="form">
                
                <div class="form-group">
                    <label for="nameField">Name</label>
                    <input type="text" class="form-control"
                    id="nameField"
                    placeholder="Write name of your Book!"
                    name="title" required>
                </div>

                
                <div class="form-group">
                    <label for="authorField">Author</label>
                    <input type="text" class="form-control"
                    id="authorField"
                    placeholder="Write the name of author!"
                    name="author" required>
                </div>

                <div class="form-group">
                    <label for="priceField">price</label>
                    <input type="text" class="form-control"
                    id="priceField"
                    placeholder="Write the price!"
                    name="price" required>
                </div>

                <div class="form-group">
                    <label for="overviewField">Overview</label>
                    <input type="text" class="form-control"
                    id="overviewField"
                    placeholder="Write the overview!"
                    name="overview" required>
                </div>

                <div class="form-group">
                    <label for="publishedField">Published</label>
                    <input type="text" class="form-control"
                    id="numberField"
                    placeholder="Write the published date!"
                    name="published" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>Submit
                </button>

                <a href="/books-list" class="btn btn-warning">
                    <i class="fas fa-undo">Cancel</i></a>


            </form>
        </div>
    </div>
</div>


 <%- include ../partials/bottom_nav.ejs %>

 <%- include ../partials/footer.ejs %>
  