<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- content for add page -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">

        <h1><%= title %></h1>

            <form method="POST" class="form">
                
                <div class="form-group">
                    <label for="nameField">Name</label>
                    <input type="text" class="form-control"
                    id="nameField"
                    placeholder="Write name of your Survey!"
                    name="title" 
                    value = "<%= surveys.name %>"
                    required>
                </div>

                

                <div class="form-group">
                    <label for="authorField">Author</label>
                    <input type="text" class="form-control"
                    id="emailField"
                    placeholder="Write the name of author!"
                    name="author" 
                    value = "<%= surveys.author %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="priceField">Question-1</label>
                    <input type="text" class="form-control"
                    id="priceField"
                    placeholder="Write the price!"
                    name="price"
                    value = "<%= surveys.que1 %>"
                    required>
                </div>

                 <div class="form-group">
                    <label for="publishedField">Question-2</label>
                    <input type="text" class="form-control"
                    id="publishedField"
                    placeholder="Write the published date!"
                    name="published"
                    value = "<%= surveys.que2 %>"
                    required>
                </div>

                 <div class="form-group">
                    <label for="overviewField">Question-3</label>
                    <input type="text" class="form-control"
                    id="overviewField"
                    placeholder="Write the Overview!"
                    name="overview"
                    value = "<%= surveys.que3 %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="overviewField">Question-4</label>
                    <input type="text" class="form-control"
                    id="overviewField"
                    placeholder="Write the Overview!"
                    name="overview"
                    value = "<%= surveys.que %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>Submit
                </button>

                <a href="/contacts-list" class="btn btn-warning">
                    <i class="fas fa-undo">Cancel</i></a>


            </form>
        </div>
    </div>
</div>
 <%- include ../partials/bottom_nav.ejs %>

 <%- include ../partials/footer.ejs %>
  






 

